* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fw-reg: 400;
  --fw-md: 500;
  --fw-bold: 700;

  --black: #000;
  --primary: #F5CA7B;
  --secondary: #4C4E52;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

header h1 {
  font-size: 18px;
  font-weight: var(--fw-bold);
}

header nav {
  display: flex;
  gap: 15px;
}

header nav .icon {
  font-size: 18px;
}

main {
  padding: 10px 15px;
}

main .note-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

main .note-item {
  background-color: var(--primary);
  padding: 10px 15px;
  font-size: 16px;
}

main .note-item__header {
  margin-bottom: 7px;
}

main .note-item__title {
  font-size: 16px;
  margin-bottom: 5px;
}

main .note-item__date {
  font-size: 14px;
  font-weight: var(--fw-md);
  color: var(--secondary);
}

main .note-item__body {
  margin-bottom: 15px;
}

/* main .note-item__body-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */

main .note-item__action {
  display: flex; 
  gap: 10px;
}

main .note-item__action .icon {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  main .note-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  main .note-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 20px 60px;
  }

  main {
    padding: 10px 60px;
  }
}

@media screen and (min-width: 1280px) {
  main .note-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1536px) {
  main .note-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
