* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fw-reg: 400;
  --fw-md: 500;
  --fw-bold: 700;

  --black: #191919;
  --white: #F7F7F7;
  --primary: #F5CA7B;
  --secondary: #4C4E52;
  --danger: #ff4444;

  --font-color: var(--black);
  --background-color: var(--white);
}

[data-theme='dark'] {
  --font-color: var(--white);
  --background-color: var(--black);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

a, button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input, textarea {
  padding: 7px 10px;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--white);
  border-color: var(--secondary);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

textarea {
  resize: vertical;
}

label {
  color: var(--secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

header h1 {
  font-size: 18px;
  font-weight: var(--fw-bold);
}

header nav {
  display: flex;
  gap: 15px;
}

header nav .icon {
  font-size: 20px;
  color: var(--font-color);
}

header nav .text {
  display: none;
}

header .toggle-theme-button {
  transition: .5s;
}

header .toggle-theme-button:hover {
  transform: rotate(360deg) scale(1.5);
}

main {
  padding: 10px 15px;
}

main .login-page__card, main .register-page__card {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--black);
}

main .login-page__title, main .register-page__title {
  font-size: 18px;
  margin-bottom: 15px;
}

main .login-input__input-wrapper, main .register-input__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .login-input button, main .register-input button {
  background-color: var(--secondary);
  color: var(--white);
  width: fit-content;
  padding: 7px 20px;
  border-radius: 3px;
  font-weight: var(--fw-bold);
  margin-top: 10px;
}

main .login-page__register-link, main .register-page__login-link {
  margin-top: 20px;
}

main .login-page__register-link a, main .register-page__login-link a {
  display: inline;
  color: var(--secondary);
}

main .search {
  margin-bottom: 20px;
}

main .search__form-item {
  position: relative;
}

main .search__form-item input {
  width: 100%;
  padding: 7px 10px 7px 30px;
}


main .search__form-item .icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: var(--secondary);
  font-size: 18px;
}

main .add-note-modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  color: var(--black);
}

main .add-note-modal button {
  color: var(--black);
}

main .add-note-modal__content {
  background-color: var(--white);
  border-radius: 5px;
  padding: 15px 20px;
  transform: scale(0);
  transition: .3s;
}

main .add-note-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

main .add-note-modal__title {
  font-size: 18px;
}

main .add-note-modal__limit {
  text-align: right;
  font-size: 14px;
  color: var(--secondary);
}

main .add-note-modal__form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

main .add-note-modal__form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .add-note-modal__input__body {
  width: 350px;
  height: 200px;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 14px;
  resize: vertical;
  word-wrap:break-word;
  overflow: auto;
}

main .add-note-modal__form-add {
  background-color: var(--primary);
  width: fit-content;
  padding: 7px 20px;
  border-radius: 3px;
  font-weight: var(--fw-bold);
  margin-top: 10px;
}

main .note-list__content,
main .archived-note-list__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

main .archived-note-list__title {
  font-size: 18px;
  margin-bottom: 15px;
}

main .note-item {
  background-color: var(--primary);
  padding: 10px 15px;
  font-size: 16px;
  max-width: calc(100vw - 30px);
}

main .note-item__link {
  display: block;
  color: var(--black);
}

main .note-item__header {
  margin-bottom: 7px;
}

main .note-item__title {
  font-size: 16px;
  margin-bottom: 5px;
}

main .note-detail .note-item__title {
  font-size: 20px;
}

main .note-item__date {
  font-size: 14px;
  font-weight: var(--fw-md);
  color: var(--secondary);
}

main .note-item__body {
  margin-bottom: 15px;
}

main .note-item__body-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3rem;
  word-wrap: break-word;
}

main .note-detail .note-item__body-content {
  display: initial;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  overflow: initial;
  text-overflow: initial;
}

[data-theme='dark'] main .note-detail .note-item__date {
  color: #D3D3D3;
}

main .note-item__action {
  display: flex; 
  gap: 10px;
}

main .note-item__action .icon {
  font-size: 20px;
  color: var(--black);
}

main .not-found-page {
  text-align: center;
}

main .not-found-page img {
  width: 100%;
}

main .not-found-page figure {
  font-size: 15px;
}

main .not-found-page a {
  font-weight: 500;
  color: var(--secondary);
}

main .not-found-page .not-found-page__back {
  color: var(--font-color);
  margin-top: 10px;
}

@media screen and (min-width: 500px) {
  main .note-list__content,
  main .archived-note-list__content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .note-item {
    max-width: calc((100vw - 30px) / 2 - 15px);
  }
}

@media screen and (min-width: 768px) {
  main .note-list__content,
  main .archived-note-list__content {
    grid-template-columns: repeat(3, 1fr);
  }

  main .note-item {
    max-width: calc((100vw - 30px) / 3 - 15px);
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 20px 100px;
  }

  header nav .text {
    display: inline;
    font-size: 15px;
  }

  main {
    padding: 10px 100px;
  }

  main .search__form-item input {
    width: 30%;
  }

  main .not-found-page img {
    width: 40%;
  }

  main .login-page, main .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 61px - 20px);
  }

  main .login-page__card, main .register-page__card {
    width: 40%;
    padding: 30px 35px;
  }
}

@media screen and (min-width: 1280px) {
  main .note-list__content,
  main .archived-note-list__content {
    grid-template-columns: repeat(4, 1fr);
  }

  main .note-item {
    max-width: calc((100vw - 200px) / 4 - 15px);
  }
}

@media screen and (min-width: 1536px) {
  main .note-list__content,
  main .archived-note-list__content {
    grid-template-columns: repeat(5, 1fr);
  }

  main .note-item {
    max-width: calc((100vw - 200px) / 5 - 15px);
  }
}
